.skill-name.sparkle {
  color: #ebc25a;
}

.skill-name.gift {
  color: #999999;
}

.skill-name.gem {
  color: #369de7;
}

.skill-name.lucky {
  color: #39a858;
}

.skill-name.fire {
  color: #e94e58;
}